@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Pet project using Razor Pages in ASP.NET Core made by Konstantin Volokhin as a test assigment.</p>
