@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Ukrraine<br />
    Kiev<br />
    <abbr title="Phone">P:</abbr>
    +380672394452
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">volokhink@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">volokhink@gmail.com</a>
</address>
